html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

.header{
    width: 100%;
}

.header .nav{
    padding: 5px ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}


.nav a{
    text-decoration: none;
}

#logo{
    font-size: 45px;
}

.nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    
}


.link_menu{
    text-decoration: none;
    margin-right: 15px;
    border-bottom: 2px transparent solid;
}

.link_menu:hover{
    border-bottom: 2px red solid;
}



/*Secction Principal (App)*/
.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.main .lonch{
    display: flex;
    flex-direction: column;
}

.lonch #store{
    display: block;
}



/*Restaurants (Contact)*/
.restaurants{
    padding: 60px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.icons{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

/*Suggest*/
.suggest{
    padding: 60px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.suggest form{
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;

}

form textarea{
    resize: none;
}

.footer{
    text-align: center;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}